.DS_Store
*.mp4
*.pyc
*.pb
*.weights
Directory/.gitignore.txt
Directory/checkpoints
Directory/IMAGES
Directory/log
Directory/mAP
Directory/yolov3/__pycache__
Directory/OIDv4_ToolKit-master/OID
Directory/OIDv4_ToolKit-master/modules/__pycache__
Directory/OIDv4_ToolKit-master/images
Directory/mAP-master/input
Directory/mAP-master/output
Directory/archived scripts
Directory/OIDv4_ToolKit-master
Directory\deep_sort
Directory/detections